<img
  src="{{ url_for('static', filename='david.jpg') }}"
  alt="데이비드 이미지"
/>
<form method="POST">
  <label>이름 또는 문장을 입력하세요:</label>
  <input type="text" name="input_text" required="" />
  <br />
  <label>언어 선택:</label>
  <select name="lang">
    <option value="ko">한국어</option>
    <option value="en">영어</option>
    <option value="ja">일본어</option>
    <option value="es">스페인어</option>
    <!-- <option value="zzzz">외계어</option> -->
  </select>

  <br />

  <button type="submit">음성 듣기</button>
</form>

<br />

{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %} {% if audio %}
<audio controls="" autoplay="">
  <source src="data:audio/mpeg;base64,{{ audio }}" />
</audio>
<p><a href="{{ download_url }}" download="tts_output.mp3">📥 음성 파일 다운로드</a></p>
{% endif %}
