<!DOCTYPE html>
<html>
<head>
    <title>메뉴판</title>
    <style>
        .menu-button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
        }
        .green-tea {
            font-size: 70pt;
        }
    </style>
</head>
<body>
    <h1>메뉴</h1>
    <button class="menu-button">아메리카노</button>
    <button class="menu-button">라떼</button>
    <button name="menu2" style="width:70pt;">둥글레차</button>
    <hr>
    <button class="menu-button green-tea">녹차</button>
</body>
</html>
